.basket-btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 18px;
}

#add_dish{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ff8000;
    border: solid 1px rgba(0, 0, 0, .3);
    border-radius: 10px;
    font-family: CreatoDisplay Bold;
    font-size: 22px;
    cursor: pointer;
    width: 70%;
    transition: all .3s ease-in-out;
}
#add_dish:hover {
    box-shadow: black 0px 0px 10px;
    transition: all .3s ease-in-out;
}

#confirm_message {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 200px);
    bottom: 140px;
    padding: 10px;
    background-color: rgb(240, 240, 240);

    align-self: flex-start;
    z-index: 10;

    border: solid 1px black;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
    opacity: 0;
    transition: transform .4s ease,
                opacity .4s ease;
}

#confirm_message.visible {
    transform: translate(-50%, 0);
    opacity: 1;
}


/* Media queries */


@media (max-width: 1100px) {
    #add_dish {
        font-size: 16px;
    }
}