.basket-btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 18px;
    background: none;
    border: 1px solid #888;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

#add_dish{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ff8000;
    border: solid 1px rgba(0, 0, 0, .3);
    border-radius: 10px;
    font-family: CreatoDisplay Bold;
    font-size: 22px;
    cursor: pointer;
    width: 70%;
    transition: all .3s ease-in-out;
    text-align: center;
}
#add_dish:hover {
    box-shadow: black 0px 0px 10px;
    transition: all .3s ease-in-out;
}

#message_box  {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 200px);
  bottom: 140px;
  padding: 10px;
  background-color: rgb(240, 240, 240);

  align-self: flex-start;
  z-index: 10;

  border: solid 1px black;
  border-radius: 10px;
  box-shadow: black 0px 0px 10px;
  opacity: 0;
  transition: transform .4s ease,
              opacity .4s ease;
  text-align: center;
  gap: 8px;
}

#message_box.visible {
    transform: translate(-50%, 0);
    opacity: 1;
}

.cart_btn {
    padding: 12px 16px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    width: 150px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#switch:checked + .slider {
  background-color: #ff8000;
}

#switch:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Media queries */


@media (max-width: 1100px) {
  #add_dish {
      font-size: 16px;
  }
}

@media (max-width: 772px) {
  #message_box {
    max-width: calc(100% - 40px);
    width: 100%;
    bottom: 44px;
  }
}