#cart_basket_wrapper {
    position: fixed;
    top: 50%;
    transform: translate(1500%, -50%);
    right: 50px;
    min-width: 400px;

    align-self: flex-start;
    z-index: 10;

    border: solid 1px black;
    opacity: 0;
    transition: transform .4s ease-in-out,
                opacity .4s ease-in-out;
}

#cart_basket_wrapper.visible {
    transform: translate(0, -50%);
    opacity: 1;
}

#cart_basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 570px;
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.26) 10px 10px 50px;
    background-color: #eeeeee;
    overflow: auto;
}

#cart_content {
    text-align: center;
    
    margin: 48px 0;
}

#empty_cart {
    display: block;
    margin: 24px 0;
    text-align: center;
}

#cart_table_wrapper {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.cart-table {
    border-collapse: collapse;
    font-family: CreatoDisplay;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    height: 48px;
}

.cart-table th {
    background-color: #f5f5f5;
}

.cart-item-counter {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.cart-dish-name {
    width: 200px;
}

#amount {
    width: 40px;
}

.cart-price-tag {
    width: 150px;
}

#cart_btns_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

#price_switch_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delivery_switch {
    display: flex;
    align-items: center;
    gap: 20px;
}

#delivery_switch img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

#total_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    font-family: CreatoDisplay;
}

#close_cart_basket {
    position: fixed;
    top: 17px;
    right: 17px;

    width: 40px;
    height: 40px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    /* background-color: #fdba7b; */
    cursor: pointer;
    
    font-family: CreatoDisplay Bold;
    font-size: 18px;

    transition: all .1s ease-in-out;
}
#close_cart_basket:hover {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 20px;
    transition: all .1s ease-in-out;
}

#checkout {
    display: flex;
    flex-direction: column;
}

#checkout_btn {
    border: solid 1px rgba(0, 0, 0, 0.5);
}

#checkout_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 20px;
    transition: all .3s ease-in-out;
}

#clear_cart_btn {
    background-color: #ff4d4d;
    color: white;
}

#clear_cart_btn:hover {
    background-color: #e63939;
}


/* Media queries */

@media (max-width: 772px) {
    /* START OF CART BASKET STYLE */

    #cart_basket_wrapper {
        position: fixed;
        top: 50%;
        transform: translate(-50%, 1500%);
        left: 50%;
        width: 80%;
        align-self: flex-start;
        z-index: 10;

        border: unset;
        opacity: 0;
        transition: transform .4s ease,
                    opacity .4s ease;
    }

    #cart_basket_wrapper.visible {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    #cart_basket {
        max-height: 80vh;
        min-height: 600px;
    }

    .cart-table {
        margin: 64px 0;
        width: 100%;
        border-collapse: collapse;
    }

    #close_cart_basket {
        top: 30px;
        right: 30px;
    }
    /* END OF CART BASKET STYLE */
}