
#header_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #FF8000;
}

#header_logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 900px;
    width: 100%;
}

#logo {
    width: 250px;
}

#main_content_wrapper {
    min-height: calc(100vh - 240px);
}

#title_banner {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin: 50px 0;
}
#banner_bg {
    display: flex;
    background-image: url('./assets/img/banner.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

#title {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    aspect-ratio: 1/1;
}


.menue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px 30px;
    flex: 1;
    padding: 50px;
}

.dish {
    display: flex;
    background-color: #fdba7b;
    min-width: 800px;
    max-width: 1440px;
    width: 100%;
}
.dish-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
}
.dish-img {
    max-width: 300px;
    max-height: 300px;
}
.dish-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.dish-info p {
    width: 70%;
    font-family: CreatoDisplay;
}

/* STAT OF CART BASKET STYLE */

#cart_basket_wrapper {
    position: fixed;
    top: 50%;
    transform: translate(1500%, -50%);
    right: 50px;
    min-width: 400px;

    align-self: flex-start;
    z-index: 10;

    border: solid 1px black;
    opacity: 0;
    transition: transform .4s ease-in-out,
                opacity .4s ease-in-out;
}

#cart_basket_wrapper.visible {
    transform: translate(0, -50%);
    opacity: 1;
}

#cart_basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 570px;
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.26) 10px 10px 50px;
    background-color: #eeeeee;
    overflow: auto;
}

#cart_content {
    text-align: center;
    
    margin: 48px 0;
}

#empty_cart {
    display: block;
    margin: 24px 0;
    text-align: center;
}

#cart_table_wrapper {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.cart-table {
    border-collapse: collapse;
    font-family: CreatoDisplay;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    height: 48px;
}

.cart-table th {
    background-color: #f5f5f5;
}

.cart-item-counter {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.cart-dish-name {
    width: 200px;
}

#amount {
    width: 40px;
}

.cart-price-tag {
    width: 150px;
}

#cart_btns_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

#price_switch_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delivery_switch {
    display: flex;
    align-items: center;
    gap: 20px;
}

#delivery_switch img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

#total_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    font-family: CreatoDisplay;
}

#close_cart_basket {
    position: fixed;
    top: 17px;
    right: 17px;

    width: 40px;
    height: 40px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    /* background-color: #fdba7b; */
    cursor: pointer;
    
    font-family: CreatoDisplay Bold;
    font-size: 18px;

    transition: all .1s ease-in-out;
}
#close_cart_basket:hover {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 20px;
    transition: all .1s ease-in-out;
}

#checkout {
    display: flex;
    flex-direction: column;
}

#checkout_btn {
    border: solid 1px rgba(0, 0, 0, 0.5);
}

#checkout_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 20px;
    transition: all .3s ease-in-out;
}

#clear_cart_btn {
    background-color: #ff4d4d;
    color: white;
}

#clear_cart_btn:hover {
    background-color: #e63939;
}

/* END OF CART BASKET STYLE */

#open_cart_basket {
    position: fixed;
    right: 50px;
    bottom: 75px;
    background-color: #ff8000;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.274) solid 1px;
    box-shadow: black 0px 0px 30px;
    transition: all .1s ease-in-out;
}
#open_cart_basket:hover {
    box-shadow: black 0px 0px 40px;
    transition: all .1s ease-in-out;
}

#open_cart_basket img {
    width: 50px;
    height: 50px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 4px;
    font-family: CreatoDisplay;
    background-color: #ff8000;
}

#footer a {
    color: black;
    text-decoration: underline;
}


/* Impressum styles */
#impressum_content_wrapper {
    display: flex;
    height: calc(100vh - 240px);
    justify-content: center;
    align-items: center;
}

#impressum_content {
    width: 800px;
    min-height: 400px;
    padding: 50px 30px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.315);
    border-radius: 15px;
    color: black;
}

#impressum_content ul {
    margin: 30px 0 50px 0;
}
#impressum_content li {
    list-style-type: none;
}
#impressum_content p, #impressum_content li, #impressum_content dl { 
    font-size: 18px;
    font-family: CreatoDisplay;
}




/* Media queries */


@media (min-width: 2400px) {
    #open_cart_basket, #cart_basket_wrapper {
        right: calc(50% - 1150px);
    }
}

@media (max-width: 1100px) {
    .menue {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dish {
        display: flex;
        flex-direction: column;
        background-color: #fdba7b;
        min-width: 0;
        max-width: 300px;
        width: 300px;
        height: 700px;
    }
    .dish-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        width: 100%;
        height: 100%;
    }
    .dish-info p {
        width: 70%;
    }
}

@media (max-width: 992px) {
    #banner {
        justify-content: flex-end;
    }
    #banner img {
        height: 250px;
        max-height: 250px;
        max-width: 380px;
        object-fit: cover;
    }
}

@media (max-width: 772px) {
    #menue {
        padding: 50px 20px 80px 20px;
    }
    #open_cart_basket {
        right: 50%;
        transform: translateX(50%);
        bottom: 100px;
        transition: all .1s ease-in-out;
    }
    /* START OF TITLE BANNER STYLE */
    #title_banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 100%;
    }
    #banner_bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('./assets/img/banner-horizontal.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 1440px;
        height: 100%;
    }

    #title {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #banner {
        max-height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #banner img {
        height: 250px;
        max-height: 250px;
        max-width: 380px;
        object-fit: cover;
    }

    /* END OF TITLE BANNER STYLE */

    /* START OF CART BASKET STYLE */

    #cart_basket_wrapper {
        position: fixed;
        top: 50%;
        transform: translate(-50%, 1500%);
        left: 50%;
        width: 80%;
        align-self: flex-start;
        z-index: 10;

        border: unset;
        opacity: 0;
        transition: transform .4s ease,
                    opacity .4s ease;
    }

    #cart_basket_wrapper.visible {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    #cart_basket {
        max-height: 80vh;
        min-height: 600px;
    }

    .cart-table {
        margin: 64px 0;
        width: 100%;
        border-collapse: collapse;
    }

    #close_cart_basket {
        top: 30px;
        right: 30px;
    }
    /* END OF CART BASKET STYLE */
}