
#header_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #FF8000;
}

#header_logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 900px;
    width: 100%;
}

#logo {
    width: 250px;
}

#main_content_wrapper {
    min-height: calc(100vh - 240px);
    display: flex;
    justify-content: center;
}

#title_banner {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin: 50px 0;
}

#banner_bg {
    display: flex;
    background-image: url('./assets/img/banner.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

#title {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

#restaurant_title_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
    margin: 50px 0;
    gap: 48px;
}
#restaurant_banner {
    background-image: url('./assets/img/restaurant-banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#restaurant_banner img {
    height: 250px;
    object-fit: cover;
}
#banner_text {
    width: 80%;
    max-width: 750px;
    text-align: center;
}

.container-line {
  height: 1px;
  width: 100%;
  max-width: 1440px;
  background-color: rgba(0, 0, 0, 0.5);
}

#menue_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    padding: 50px 0;
}

#menue_categories_list {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    padding: 50px;
    list-style: none;
}

#menue_categories_list li a {
    font-size: 18px;
    font-family: CreatoDisplay;
    color: black;
}

.menue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px 30px;
    flex: 1;
    padding: 50px;
}

.dish {
    display: flex;
    background-color: #fdba7b;
    min-width: 800px;
    max-width: 1440px;
    width: 100%;
}
.dish-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
}
.dish-info h3 {
    width: 70%;
}
.dish-img {
    max-width: 300px;
    max-height: 300px;
}
.dish-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.dish-info p {
    width: 70%;
    font-family: CreatoDisplay;
}

#open_cart_basket {
    position: fixed;
    right: 50px;
    bottom: 75px;
    background-color: #ff8000;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.274) solid 1px;
    box-shadow: black 0px 0px 30px;
    transition: all .1s ease-in-out;
}
#open_cart_basket:hover {
    box-shadow: black 0px 0px 40px;
    transition: all .1s ease-in-out;
}

#open_cart_basket img {
    width: 50px;
    height: 50px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 4px;
    font-family: CreatoDisplay;
    background-color: #ff8000;
}

#footer a {
    color: black;
    text-decoration: underline;
}


/* Impressum styles */
#impressum_content_wrapper {
    display: flex;
    height: calc(100vh - 240px);
    justify-content: center;
    align-items: center;
}

#impressum_content {
    width: 800px;
    min-height: 400px;
    padding: 50px 30px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.315);
    border-radius: 15px;
    color: black;
}

#impressum_content ul {
    margin: 30px 0 50px 0;
}
#impressum_content li {
    list-style-type: none;
}
#impressum_content p, #impressum_content li, #impressum_content dl { 
    font-size: 18px;
    font-family: CreatoDisplay;
    max-width: 500px;
    width: 100%;
}




/* Media queries */


@media (max-width: 1320px) {
    .menue {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dish {
        display: flex;
        flex-direction: column;
        background-color: #fdba7b;
        min-width: 0;
        max-width: 300px;
        width: 300px;
        height: 750px;
    }
    .dish-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        width: 100%;
        height: 100%;
    }
    .dish-info p {
        width: 70%;
    }
}

@media (min-width: 993px) and (max-width: 1144px) {
    /* START OF TITLE BANNER STYLE */
    #title_banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 100%;
    }

    #banner_bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('./assets/img/banner-horizontal.png');
    }
    
    #restaurant_title_banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
    }

    #title {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #banner {
        max-height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #banner img {
        height: 250px;
        max-height: 250px;
        max-width: 380px;
        object-fit: cover;
    }

    /* END OF TITLE BANNER STYLE */

    .menue {
        padding: 30px;
    }
    .dish {
        display: flex;
        flex-direction: column;
        background-color: #fdba7b;
        min-width: 0;
        max-width: 500px;
        width: 500px;
        height: 750px;
    }
    .dish-img {
        max-width: unset;
        max-height: 300px;
    }
    .dish-img img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .dish-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        width: 100%;
        height: 100%;
    }
    .dish-info p {
        width: 70%;
    }
}

@media (max-width: 992px) {
    #banner {
        justify-content: flex-end;
    }
    #banner img {
        height: 250px;
        max-height: 250px;
        max-width: 380px;
        object-fit: cover;
    }
}

@media (max-width: 772px) {
    #menue_categories {
        padding: 0 20px;
    }
    #menue {
        padding: 50px 20px 80px 20px;
    }
    #open_cart_basket {
        right: 50px;
        transform: translateX(50%);
        bottom: 85px;
        transition: all .1s ease-in-out;
    }
    /* START OF TITLE BANNER STYLE */
    #title_banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 100%;
    }

    #banner_bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('./assets/img/banner-horizontal.png');
    }
    
    #restaurant_title_banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
    }

    #title {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #banner {
        max-height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #banner img {
        height: 250px;
        max-height: 250px;
        max-width: 380px;
        object-fit: cover;
    }

    /* END OF TITLE BANNER STYLE */

}

@media (max-width: 520px) {
    #menue_categories_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }
}