
#header_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #FF8000;
}

#title_logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 900px;
    width: 100%;
}

#logo {
    width: 250px;
}

#main_content_wrapper {
    min-height: calc(100vh - 240px);
    display: flex;
}

.menue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex: 1;
    padding: 50px;
}

.dish {
    display: flex;
    background-color: #fdba7b;
    min-width: 800px;
    max-width: 1440px;
    width: 100%;
}
.dish-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
}
.dish-img {
    width: 300px;
    height: 300px;
}
.dish-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.dish-info p {
    width: 70%;
}

#cart_basket_wrapper {
    position: fixed;
    top: 50%;
    transform: translate(150%, -50%);
    right: 50px;
    width: 375px;

    align-self: flex-start;
    z-index: 10;

    border: solid 1px black;
    opacity: 0;
    transition: transform .4s ease,
                opacity .4s ease;
}

#cart_basket_wrapper.visible {
    transform: translate(0, -50%);
    opacity: 1;
}

#cart_basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    min-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.26) 10px 10px 50px;
    background-color: #eeeeee;
}

.cart-items {
    margin-top: 16px;
    gap: 20px;
}

.cart-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.cart-item-counter {
    display: flex;
    gap: 10px;
    align-items: center;
}
#close_cart_basket {
    position: fixed;
    top: 17px;
    right: 17px;

    width: 40px;
    height: 40px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    /* background-color: #fdba7b; */
    cursor: pointer;
    
    font-family: CreatoDisplay Bold;
    font-size: 18px;

    transition: all .1s ease-in-out;
}
#close_cart_basket:hover {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 20px;
    transition: all .1s ease-in-out;
}

#checkout_btn {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#checkout_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 20px;
    transition: all .3s ease-in-out;
}

#open_cart_basket {
    position: fixed;
    right: 50px;
    bottom: 175px;
    background-color: #ff8000;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.274) solid 1px;
    box-shadow: black 0px 0px 30px;
    transition: all .1s ease-in-out;
}
#open_cart_basket:hover {
    box-shadow: black 0px 0px 40px;
    transition: all .1s ease-in-out;
}

#open_cart_basket img {
    width: 50px;
    height: 50px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 4px;
    font-family: CreatoDisplay;
    background-color: #ff8000;
}

#footer a {
    color: black;
    text-decoration: underline;
}


@media (min-width: 2400px) {
    #open_cart_basket, #cart_basket_wrapper {
        right: calc(50% - 1150px);
    }
}