
#header_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #FF8000;
}

#title_logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 900px;
    width: 100%;
}

#logo {
    width: 250px;
}

#main_content_wrapper {
    min-height: calc(100vh - 240px);
    display: flex;
}

.menue {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

#cart_basket_wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: 300px;

    align-self: flex-start;
    z-index: 10;

    border: solid 1px black;
    opacity: 0;
    transform-origin: top;
    transition: opacity .4s ease-in-out,
                transform .4s ease-in-out;
}
#cart_basket_wrapper.visible {
    opacity: 1;
}

#cart_basket {

    padding: 20px 25px;
    width: 100%;
    min-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.26) 10px 10px 50px;
    background-color: #eeeeee;
}

#cart_items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    gap: 20px;
}
#cart_item_counter {
    display: flex;
    gap: 10px;
    align-items: center;
}


#open_cart_basket {
    position: fixed;
    right: 50px;
    bottom: 175px;
    background-color: #ff8000;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.274) solid 1px;
    box-shadow: black 0px 0px 30px;
    transition: all .1s ease-in-out;
}
#open_cart_basket:hover {
    box-shadow: black 0px 0px 40px;
    transition: all .1s ease-in-out;
}

#open_cart_basket img {
    width: 50px;
    height: 50px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 4px;
    font-family: CreatoDisplay;
    background-color: #fdba7b;
}

#footer a {
    color: rgb(128, 174, 243);
}